<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="8 Hours" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="" />

    <title>탄핵 D-Day</title>
</head>
<body>
<div id="wrapper">
    <main class="Main">
        <article class="Main__content">
            <h1>D-28</h1>
            <span>32일 4시간 30분 21초</span>
        </article>

        <aside class="Main__footer">
            <div class="Chatting">
                <div class="Chatting__content">
                    <div class="Chatting__list">
                        <div class="Chat">
                            <span>와우와우</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>박사모1</span>
                            <p>박근혜를 탄핵합시다! ㅈ다ㅓㅗ 자더ㅗ자ㅓ도ㅓㅏㅗ ㄷ저ㅗ다ㅓㅈ ㅗ다ㅓ조 ㄷ저ㅏㅗ 자ㅓ도저ㅏ ㅗ다젇 자더ㅘㅓㅈ ㄷ</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>

                        <div class="Chat">
                            <span>범진</span>
                            <p>박근혜를 탄핵합시다!</p>
                        </div>
                    </div>

                    <div class="Chatting__members">
                        <span>멤버1</span>
                        <span>멤버2</span>
                        <span>멤버3</span>
                        <span>멤버4</span>
                    </div>
                </div>

                <div class="Chatting__footer">
                    <div class="ChattingSender ChattingSender--is-setNickname"></div>
                    <div class="ChattingSender ChattingSender--is-inputMessage" style="display: none;"></div>
                </div>
            </div>
        </aside>
    </main>
</div>
</body>
</html>
