<!DOCTYPE html>
<html ng-app="app">
<head lang="ko">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="8 Hours" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="" />

    <title>탄핵 D-Day</title>
</head>
<body>
    <div id="wrapper">
        <app></app>
    </div>

    <script src="/assets/jquery-3.1.1.min.js"></script>
</body>
</html>
