<!DOCTYPE html>
<html ng-app="app">
<head lang="ko">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="8 Hours" />
    <meta name="description" content="박근혜 대통령의 탄핵 예상일로부터 현재 남은 시간을 알려줍니다" />
    <meta name="keywords" content="탄핵,박근혜,박근혜 탄핵,박근혜 대통령 탄핵,대통력 탄핵,탄핵 날짜" />

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="탄핵일 계산기" />
    <meta property="og:description" content="박근혜 대통령의 탄핵 예상일로부터 현재 남은 시간을 알려줍니다" />
    <meta property="og:url" content="http://pleasetanhack.com" />
    <meta property="og:site_name" content="탄핵일 계산기" />
    <meta property="og:image" content="http://pleasetanhack.com/assets/profile.jpeg" />
    <meta property="og:image:width" content="701" />
    <meta property="og:image:height" content="701" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:description" content="박근혜 대통령의 탄핵 예상일로부터 현재 남은 시간을 알려줍니다" />
    <meta property="twitter:site" content="http://pleasetanhack.com" />

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">

    <title>탄핵일 계산기</title>
</head>
<body>
    <div id="wrapper">
        <app></app>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91824840-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
