@import "../styles/openColor";

.App {
    display: block;
    width: 100%;
    height: 100%;


    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(~"100% - 360px");
        color: #fff;

        @media screen and (max-height: 600px) {
            height: calc(~"100% - 280px");
        }

        h2 {
            margin: 0;
            font-size: 60px;
            font-family: Dohyeon, sans-serif;
            font-weight: 500;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 16px;

            @media (max-width: 600px) {
                padding: 0 12px;
                font-size: 50px;
            }

            @media (max-width: 480px) {
                padding: 0 12px;
                font-size: 42px;
            }
        }
    }

    &__label {
        font-size: 48px;
        font-weight: 500;
        font-family: "Nanum Brush Script", cursive;
        text-align: center;
        line-height: 1.2;

        @media (max-width: 600px) {
            font-size: 44px;
        }

        @media (max-width: 480px) {
            font-size: 40px;
        }
    }

    &__expect {
        font-size: 36px;
        font-weight: 400;
        font-family: "Nanum Brush Script", cursive;
        margin-bottom: 30px;
        text-align: center;

        @media (max-width: 600px) {
            font-size: 32px;
            margin-bottom: 20px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    &__footer {
        padding: 24px 16px;
        width: 100%;
        height: 360px;

        @media screen and (max-height: 600px) {
            height: 280px;
        }
    }

    &__copyright {
        position: fixed;
        right: 8px;
        bottom: 8px;

        & > span {
            display: block;
            font-size: 12px;
            color: @oc-white;
        }

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }

    &__downloadApp {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        margin: 0;
        border: none;
        background-color: @oc-green-5;
        box-shadow: 0 -1px 0 0 @oc-green-7 inset;
        color: @oc-white;
        border-radius: 5px;
        transition: all .2s ease;
        cursor: pointer;
        outline: 0;
        font-size: 16px;
        text-decoration: none;

        i {
            width: 16px;
            height: 16px;
            margin-right: 6px;
            background-size: cover;
            background-position: center;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABXklEQVR4Ae3RJYBUURiA0Z/1tAV37QF3j0ui94o7W3DXabhbRTIJSbi7Vtw5JPTt+MPntCf3flei4pfSRk3kY7NL+kQJjPLS8cjHaRyLoqlzBScjH+PBhCiSeWB85OcQrqmLIujlFQ5FIXTzAjPiC/1NtsdZD7zyykPn7DPdUK2+/HEEL3QrZrtPdYjQ0UI3ZHPfWr0jTARzo1DqXccBq72Uz3u73MN19VE4TYrVFMWwRLGWRKG0klGKjFaRn2o7lGqH6sjHCuVYEbkZ4gPgnWadddbsnWyS/3wwJLLT4LLPmr+8bZaU/Z/LGiIbK32h85e3nWWR5Z+V0TIdvUkl8EbHaIlFUPYRwcJoiXu+KO2Sv7gXSfpJU79kYLY0zU4G9knTvmTgvDSdTwYeS9PjZOC1NL2Of4+U/ZZAJVAJVAJ3peluMpCRpo3JQKMr0nJFYyRplEnhoO7KaIw/SMUn6ChVxyjgsNsAAAAASUVORK5CYII=);
        }

        &:active {
            box-shadow: 0 0 2px 0 @oc-green-7 inset;
        }

        &:hover {
            box-shadow: 0 -2px 0 0 @oc-green-7 inset;
        }
    }
}
